<div class="container w-75">


  <div class="card-product">
    <img src="" />
    <div class="card-product-infos">
      <p><%= @question.test.category %></p>
      <h2><%= @question.test.name %></h2>
    </div>

</div>
    <div class="progress mt-4">
    <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
    </div>
