<%# ! Synthèse tests PROFIL utilisateur%>
<div class="container mt-5 w-100 d-flex flex-column align-items-center">
  <div class="text-center w-75 ">
    <h2>Découvrez vos <em>résultats</em> <br> et <em>explorez</em> votre avenir !</h2>
    <br>
    <p class= "text-justify-center markdown-content">
      <%= @markdown_content %>
    </p>
    <button type="button" class="btn btn-principal read-more-btn mt-3">Découvrir</button>
  </div>
</div>

  <%# ! DASHBOARD %>
  <div class="container dash-grid my-5">

    <div class="text-start border span-1 border-black rounded-4 p-3">
      <h5 class="text-end pb-3">TOP 10 métiers</h5>
      <%= render 'dashboard/list_jobs', jobs: @jobs %>
    </div>

    <div class="span-2 d-flex">
      <%= render 'jobs/jobs_details', job: @job, formation_for_job: @formations_for_job %>
    </div>
  </div>


</div>
<div class="w-100 newsletter py-5">
  <%= render 'shared/newsletter' %>
</div>

<script>
  const readMoreBtn = document.querySelector('.read-more-btn');
  const text = document.querySelector('.more-text');

  readMoreBtn.addEventListener('click', () => {
    text.classList.toggle('more-text');
    if (readMoreBtn.innerText === 'Découvrir') {
      readMoreBtn.innerText = 'Réduire';

    } else {
      readMoreBtn.innerText = 'Découvrir';
    }
  });
</script>
