// Define variables for your color scheme

// For example:
$red: #FF4C24;
$blue: #FF4C24;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0E0E;
$light-gray: #dedede;
// $light-gray: #EFEEEC;
