.dash-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  row-gap: 1rem;

  .dash-margin-b {
    margin-bottom: 1rem;
  }
}

.list-group-item {
  border: 0px solid $gray;
  background-color: white;
}

.span-2 {
  grid-column: span 2;
}

.gap-1-rem {
  gap: 1rem;
}
