<%= turbo_frame_tag :job_description do %>

  <div class="text-center">
    <div class="d-flex flex-column justify-content-between h-100">
      <%# ! PIE CHART %>
      <div class="border border-dark rounded-4 h-75 dash-margin-b pt-3">
        <h5 class="text-end me-3 pb-3">Profil</h5>
          <%= pie_chart @result,
          donut: true,
          colors: ["#1700AD", "#0072E6", "#00ABB2", "#78D67E"],
          library: {
            plugins: {legend: {position: 'bottom'}},
            animation: { duration: 2000, easing: "easeOutBounce" }
          }
          %>
          <p class="px-3 text-justify mt-3", style="font-size: 0.8rem;">
            Ce graphique représente un profil basé sur quatre dimensions :
            artistique, réaliste, logique et social. Il permet de visualiser les tendances
            dominantes du profil.
          </p>
      </div>
      <%# ! JOB SALARY%>
      <%= render 'jobs/salary', job: job %>
    </div>
  </div>
</div>
<% end %>
