<div class="card-test" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= image_path 'test-card-img-1.jpg', height: 500, crop: :fill %>')">

    <p class="category-label">
      5 tests disponibles
    </p>

    <div class="card-test-content">
      <h2 class="title-inter">Tests de personnalité</h2>
      <p>Déterminez vos traits dominants et votre mode de fonctionnement.</p>
      <a href="#" class="btn-principal-white">Call to action</a>
    </div>
</div>
