<div class="container py-5 text-center">
  <h2 class="white">Ne manquez rien ! Inscrivez-vous<br> et accédez à des ressources exclusives.</h2>

  <div class="membres d-flex my-3 justify-content-center align-items-center">
    <div class="d-flex avatar-img">
      <%= image_tag "Ellipse-3.png", width: 40, height: 40, crop: :fit %>
      <%= image_tag "Ellipse-2.png", class:"circle", width: 40, height: 40, crop: :fit %>
      <%= image_tag "Ellipse-1.png", class:"circle", width: 40, height: 40, crop: :fit %>
    </div>

    <p class="white mb-0 m16">Déjà 300 membres</p>
  </div>
</div>
