<div class="testimonial-content p-5 bg-white">
  <p>Le test des intelligences multiples m'a permis de découvrir des talents que je n'avais jamais réalisés, comme mon aptitude musicale et ma capacité à résoudre des problèmes complexes. Cela m’a vraiment aidée à mieux comprendre mes points forts et à choisir une orientation académique plus adaptée.</p>
  <div class="testimonials-details d-flex pt-3 mr-2 align-items-center gap-2">
    <%= image_tag imgIcon, width: 56, height: 56, crop: :fit %>
    <div class="testimonials-avis">
      <p class="m-0"><strong>Avis de Claire, 17 ans</strong></p>
      <p class="m-0">Étudiante en psychologie</p>
    </div>
  </div>
</div>
