body {
  background-color: rgba($light-gray, 1); // Utilise la fonction rgby pour ajouter de l'opacité
}

.video-background {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  overflow: hidden;
  z-index: -1; // Place la vidéo en arrière-plan

  video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    transform: translate(-50%, -50%);
    object-fit: cover; // Remplit l’écran sans déformation
  }

  // Overlay sombre pour améliorer la lisibilité du texte
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); // Ajoute une ombre semi-transparente
  }

  // Contenu affiché SUR la vidéo
  .content {
    color: $light-gray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;

    & img {
      display: none;
    }

    .btn {
      display: inline-block;
      padding: 12px 24px;
      background: #ff5722;
      color: white;
      text-decoration: none;
      border-radius: 5px;
      font-size: 1.2rem;
      transition: 0.3s ease;

      &:hover {
        background: #e64a19;
      }
    }
  }

  // .navbar {
  //   position: fixed;
  //   top: 0;
  //   width: 100%;
  //   background: rgba(0, 0, 0, 0.8); // Fond semi-transparent
  //   backdrop-filter: blur(10px); // Effet de flou pour un look moderne
  //   color: white;
  //   padding: 15px 30px;
  //   z-index: 1000; // S'assure que la navbar est AU-DESSUS de la vidéo

  //   a {
  //     color: white !important; // Force la couleur du texte des liens
  //     text-decoration: none;
  //     transition: color 0.3s ease;

  //     &:hover {
  //       color: #ff5722; // Change la couleur au survol
  //     }
  //   }
  // }
}



.more-information {
  position: absolute;
  bottom: 24px;
  left: 24px;
}

.cards-radius {
  border-radius: 1rem;
}

.home-testimonial{
  background-color: $light-gray;
  position: absolute;
  bottom: 56px;
  right: 56px;
  opacity: .8;
}

.home-cards-section{
  margin: 10rem 0 10rem 0;

  .home-card {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
  }
}

.btn-principal {
  padding: 16px 32px;
  border: 1px solid $gray;
  border-radius: 4px;
  color: $gray;
  text-decoration: none;

  &:hover {
    background-color: $primary;
    border: 1px solid $primary;
    color: $light-gray;
  }
}
