.questions_form {
  text-align: center;

  .form-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }

  span {
    .radio-button {
      display: none;

      &:checked + .label-button {
        background-color: $primary;
        color: $gray;
        border: 0px;
      }
    }

    .label-button {
      cursor: pointer;
      background-color: white;
      padding: 16px 32px;
      border-radius: 4px;
      display: inline-block;
      width: 100%;

      &:hover {
        background-color: rgba($secondary, 0.2);
        color: $gray;
        border: 0px;
      }
    }
  }
}

.btn-principal {
  padding: 16px 32px;
  border: 1px solid $primary;
  border-radius: 4px;
  color: $gray;

  &:hover {
    background-color: $primary;
  }
}

.icon-width {
  width: 12rem;
}

.title-inter {
  font-family: 'Inter', sans-serif;
}
