<div class="container content-center mt-5">
  <h1 class="mb-5 text-center">Quel type de test<br>souhaitez-vous passer ?</h1>

  <div class="py-5 d-flex">

    <div class="test-grid gap-3 justify-content-between">
      <% @main_tests.each do |test| %>
        <%= render 'shared/main_cards', test: test %>
      <% end %>
    </div>
  </div>
  <div class="py-5 content-width">
    <h1 class="mb-5 text-center" id="target-section">Sélectionnez<br>un test adapté à vos besoins</h1>
    <%= render 'shared/tests_by_category', tests: @tests %>
  </div>
</div>
<div class="w-100 newsletter py-5 mt-5">
  <%= render 'shared/newsletter' %>
</div>
